<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Disaster Response Pipeline</title>
  </head>
  <body>
    <nav>
        <div><a href="/">Disaster Response<a/></div>
        <div>
            <ul>
                <li><a href="https://www.udacity.com/">Made with Udacity</a></li>
                <li><a href="https://github.com/jabbala">Contact</a></li>
            </ul>
        </div>
    </nav>
    <h1>Disaster Response Pipeline</h1>
    <h2>Analyzing message data for disaster response</h2>
    <div>
      <form action="/go" method="get">
        <input type="text" placeholder="Enter a message to classify" />
        <input type="button" value="Classify Messgae" />
      </form>
    </div>
  </body>
</html>
